# <span style="font-size:20pt;font-family:Montserrat, sans-serif;color:rgb(92, 148, 206);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Graded Assignment 3: 9 to 5</span>

<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.</span>

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">The Dataset</span>

<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on</span> [<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(17, 85, 204);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">Kaggle</span>](https://www.kaggle.com/bls/employment)<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">.</span>

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Business Issue</span>

<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.</span>

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">About the Dataset</span>

<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:</span>

1. <span style="font-size:10pt;background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.</span>
    
2. <span style="font-size:10pt;background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.</span>
    

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Set Up</span>

<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">To connect to the database, use the same connection info used during the SQL lessons.&nbsp;</span> 

<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">For the assignment, we will be using the LaborStatisticsDB database.</span>

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Database Exploration</span>

<span style="font-size:10pt;font-family:&quot;Times New Roman&quot;;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">To start with, let’s get to know the database further.</span>

1. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with LaborStatisticsDB.</span>
2. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">Tables:</span>
1. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">annual_2016 (id, series_id, year, period, value, footnote_codes, original_file)</span>
2. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">datatype (data_type_code, data_type_text)</span>
3. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">footnote (footnote_code, footnote_text)</span>
4. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">industry (id, industry_code, naics_code, publishing_status, industry_name, display_name, selectable, sort_sequence)</span>
5. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">january_2017 (id, series_id, year, period, value, footnote_codes, original_file)</span>
6. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">period (period_code, month_abbr, month)</span>
7. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">seasonal (industry_code, seasonal_text)</span>
8. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">series (series_id, supersector_code, industry_code, data_type_code, seasonal, series_title)</span>
9. <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:10pt;white-space:pre-wrap;">supersector (super_sector_code, supersector_name)</span>

To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the the link button to the right of the  \</\> symbol in the gray part of this cell, the link is just the name of your file.

2. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arvo, serif; font-size: 10pt; white-space: pre-wrap;">What is the datatype for women employees? <b>10</b></span>

In [4]:
SELECT TOP 1 data_type_code, data_type_text
FROM LaborStatisticsDB.dbo.datatype
WHERE data_type_text LIKE '%WOMEN%'

data_type_code,data_type_text
10,WOMEN EMPLOYEES

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the series id for&nbsp; women employees in the commercial banking industry in the financial activities supersector? </span>  <span style="font-size: 13.3333px; white-space: pre-wrap;"><b>CES5552211010</b></span>

In [5]:
SELECT TOP 1 industry_code, industry_name
FROM LaborStatisticsDB.dbo.industry
WHERE industry_name LIKE '%commercial banking%'

industry_code,industry_name
55522110,Commercial banking

In [8]:
SELECT TOP 1 supersector_code, supersector_name
FROM LaborStatisticsDB.dbo.supersector
WHERE supersector_name LIKE '%financial%'

supersector_code,supersector_name
55,Financial activities

In [10]:
SELECT TOP 1 series_id, data_type_code, industry_code, supersector_code
FROM LaborStatisticsDB.dbo.series
WHERE data_type_code = 10 
AND industry_code = 55522110 
AND supersector_code = 55

series_id,data_type_code,industry_code,supersector_code
CES5552211010,10,55522110,55

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Join in on the Fun</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to start joining! You can choose the type of join you use, just make sure to make a&nbsp; note!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join&nbsp; annual_2016 with series on series_id. We only want the data in the annual_2016 table to be included in the result.</span>

In [11]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id

id,series_id,year,period,value,footnote_codes,original_file,series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
0,CEU5500000007,2016,M13,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000007,55,55000000,7,U,Average weekly hours of production and nonsupervisory employees
1,CEU5500000008,2016,M13,26.11,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000008,55,55000000,8,U,Average hourly earnings of production and nonsupervisory employees
2,CEU5500000030,2016,M13,962.73,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000030,55,55000000,30,U,Average weekly earnings of production and nonsupervisory employees
3,CEU5500000031,2016,M13,411.29,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000031,55,55000000,31,U,Average weekly earnings of production and nonsupervisory employees
4,CEU5500000032,2016,M13,11.15,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000032,55,55000000,32,U,Average hourly earnings of production and nonsupervisory employees
5,CEU5500000034,2016,M13,111.6,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000034,55,55000000,34,U,Indexes of aggregate weekly hours of production and nonsupervisory employees
6,CEU5500000035,2016,M13,179.2,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000035,55,55000000,35,U,Indexes of aggregate weekly payrolls of production and nonsupervisory employees
7,CEU5500000081,2016,M13,236997,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000081,55,55000000,81,U,Aggregate weekly hours of production and nonsupervisory employees
8,CEU5500000082,2016,M13,6189003,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000082,55,55000000,82,U,Aggregate weekly payrolls of production and nonsupervisory employees
9,CEU5552200007,2016,M13,37.3,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5552200007,55,55522000,7,U,Average weekly hours of production and nonsupervisory employees

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and datatype on data_type_code</span>

In [12]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.series AS s
INNER JOIN LaborStatisticsDB.dbo.datatype AS d
ON s.data_type_code = d.data_type_code

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,data_type_code,data_type_text
CES0000000001,0,00000000,1,S,All employees,1,ALL EMPLOYEES
CES0000000010,0,00000000,10,S,Women employees,10,WOMEN EMPLOYEES
CES0000000025,0,00000000,25,S,All employees,25,ALL EMPLOYEES
CES0000000026,0,00000000,26,S,All employees,26,ALL EMPLOYEES
CES0500000001,5,05000000,1,S,All employees,1,ALL EMPLOYEES
CES0500000002,5,05000000,2,S,Average weekly hours of all employees,2,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
CES0500000003,5,05000000,3,S,Average hourly earnings of all employees,3,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees,6,PRODUCTION AND NONSUPERVISORY EMPLOYEES
CES0500000007,5,05000000,7,S,Average weekly hours of production and nonsupervisory employees,7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
CES0500000008,5,05000000,8,S,Average hourly earnings of production and nonsupervisory employees,8,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and industry on industry_code</span>

In [13]:
SELECT TOP 10 *
FROM LaborStatisticsDB.dbo.series AS s
INNER JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
CES0000000001,0,00000000,1,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000010,0,00000000,10,S,Women employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000025,0,00000000,25,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000026,0,00000000,26,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0500000001,5,05000000,1,S,All employees,1,5000000,-,A,Total private,1,T,2
CES0500000002,5,05000000,2,S,Average weekly hours of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000003,5,05000000,3,S,Average hourly earnings of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000007,5,05000000,7,S,Average weekly hours of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000008,5,05000000,8,S,Average hourly earnings of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Aggregate Your Friends and Code some SQL</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Put together the following:</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; No chopping people into little bits, please.</span>

In [16]:
SELECT COUNT(a.id) as 'Employess Reported in 2016'
FROM LaborStatisticsDB.dbo.annual_2016 AS a

Employess Reported in 2016
29042

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many women employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp;</span>

In [41]:
SELECT TOP 30 COUNT(series_id) AS 'Series ID Total', data_type_code, series_title
FROM LaborStatisticsDB.dbo.series
WHERE data_type_code = 10 
GROUP BY data_type_code, series_title

Series ID Total,data_type_code,series_title
1372,10,Women employees

In [42]:
SELECT COUNT(a.id) AS 'Female Employess Reported in 2016', s.data_type_code, s.series_title
FROM LaborStatisticsDB.dbo.annual_2016 AS a
INNER JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.data_type_code=10
GROUP BY s.data_type_code, s.series_title

Female Employess Reported in 2016,data_type_code,series_title
1372,10,Women employees

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.&nbsp;</span>

In [46]:
SELECT TOP 1 data_type_code, data_type_text
FROM LaborStatisticsDB.dbo.datatype
WHERE data_type_text LIKE '%production%'

data_type_code,data_type_text
6,PRODUCTION AND NONSUPERVISORY EMPLOYEES

In [47]:
SELECT COUNT(a.id) AS 'Production/Nonsupervisory Employees  Reported in 2016', s.data_type_code, s.series_title
FROM LaborStatisticsDB.dbo.annual_2016 AS a
INNER JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.data_type_code=6
GROUP BY s.data_type_code, s.series_title

Production/Nonsupervisory Employees Reported in 2016,data_type_code,series_title
1102,6,Production and nonsupervisory employees

4. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?</span>

In [63]:
SELECT s.data_type_code, s.series_title, ROUND(AVG(j.value),2) as 'Avg. Weekly Hours'
FROM LaborStatisticsDB.dbo.january_2017 as j
INNER JOIN LaborStatisticsDB.dbo.series as s
ON j.series_id = s.series_id
WHERE s.data_type_code=7
--7 is AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
GROUP BY s.data_type_code, s.series_title

data_type_code,series_title,Avg. Weekly Hours
7,Average weekly hours of production and nonsupervisory employees,36.06

5. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny, please.</span>

In [65]:
SELECT s.data_type_code, s.series_title, ROUND(AVG(j.value*40),2) as 'Total Weekly Payroll'
FROM LaborStatisticsDB.dbo.january_2017 as j
INNER JOIN LaborStatisticsDB.dbo.series as s
ON j.series_id = s.series_id
WHERE s.data_type_code=8
--8 is AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
GROUP BY s.data_type_code, s.series_title

data_type_code,series_title,Avg. Weekly Hours
8,Average hourly earnings of production and nonsupervisory employees,878.5

6. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?</span>

<span style="font-size: 13.3333px; white-space: pre-wrap;">ANSWER: Highest = Coal Mining, Lowest = Fitness and recreational sports centers</span>

In [70]:
SELECT TOP 1 s.data_type_code, s.series_title, s.industry_code, j.value as 'Avg. Weekly Hours'
FROM LaborStatisticsDB.dbo.january_2017 as j
INNER JOIN LaborStatisticsDB.dbo.series as s
ON j.series_id = s.series_id
WHERE s.data_type_code=2
--2 is AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
GROUP BY s.data_type_code, s.series_title,  s.industry_code, j.value
ORDER BY j.value DESC

data_type_code,series_title,industry_code,Avg. Weekly Hours
2,Average weekly hours of all employees,10212100,47.2

In [72]:
SELECT TOP 1 industry_code, industry_name
FROM LaborStatisticsDB.dbo.industry
WHERE industry_code = 10212100

industry_code,industry_name
10212100,Coal mining

In [71]:
SELECT TOP 1 s.data_type_code, s.series_title, s.industry_code, j.value as 'Avg. Weekly Hours'
FROM LaborStatisticsDB.dbo.january_2017 as j
INNER JOIN LaborStatisticsDB.dbo.series as s
ON j.series_id = s.series_id
WHERE s.data_type_code=2
--2 is AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
GROUP BY s.data_type_code, s.series_title,  s.industry_code, j.value
ORDER BY j.value ASC

data_type_code,series_title,industry_code,Avg. Weekly Hours
2,Average weekly hours of all employees,70713940,18.2

In [73]:
SELECT TOP 1 industry_code, industry_name
FROM LaborStatisticsDB.dbo.industry
WHERE industry_code = 70713940

industry_code,industry_name
70713940,Fitness and recreational sports centers

7. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2021, which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?</span>

<span style="font-size: 13.3333px; white-space: pre-wrap;">ANSWER: Highest = Reinsurance Carriers, Lowest = Cafeterias</span>

In [74]:
SELECT TOP 1 s.data_type_code, s.series_title, s.industry_code, (j.value*40) as 'Total Weekly Earrings'
FROM LaborStatisticsDB.dbo.january_2017 as j
INNER JOIN LaborStatisticsDB.dbo.series as s
ON j.series_id = s.series_id
WHERE s.data_type_code=3
--3 is AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
GROUP BY s.data_type_code, s.series_title,  s.industry_code, j.value
ORDER BY j.value DESC

data_type_code,series_title,industry_code,Total Weekly Earrings
3,Average hourly earnings of all employees,55524130,2342.8

In [75]:
SELECT TOP 1 industry_code, industry_name
FROM LaborStatisticsDB.dbo.industry
WHERE industry_code = 55524130

industry_code,industry_name
55524130,Reinsurance carriers

In [76]:
SELECT TOP 1 s.data_type_code, s.series_title, s.industry_code, (j.value*40) as 'Total Weekly Earrings'
FROM LaborStatisticsDB.dbo.january_2017 as j
INNER JOIN LaborStatisticsDB.dbo.series as s
ON j.series_id = s.series_id
WHERE s.data_type_code=3
--3 is AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
GROUP BY s.data_type_code, s.series_title,  s.industry_code, j.value
ORDER BY j.value ASC

data_type_code,series_title,industry_code,Total Weekly Earrings
3,Average hourly earnings of all employees,70722514,450

In [78]:
SELECT TOP 1 industry_code, industry_name
FROM LaborStatisticsDB.dbo.industry
WHERE industry_code = 70722514

industry_code,industry_name
70722514,Cafeterias

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Subqueries, Unions, Derived Tables, Oh My!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Write a query that returns the series_id, industry_code, industry_name, and value from the january_2017 table but only if that value is greater than the average value for annual_2016 of data_type_code 82.</span>

In [81]:
SELECT j.series_id, i.industry_code, i.industry_name, j.value 
FROM  LaborStatisticsDB.dbo.january_2017 AS j
INNER JOIN  LaborStatisticsDB.dbo.industry AS i
ON j.id = i.id
WHERE value > (SELECT AVG(value) FROM LaborStatisticsDB.dbo.january_2017)

series_id,industry_code,industry_name,value
CES5500000081,10210000,Mining,240920
CES5500000082,10211000,Oil and gas extraction,6328968
CES5552200082,10212319,NULL,1717912
CES5552210082,20236115,New single-family general contractors,971796
CES5552211082,20237110,Water and sewer system construction,740634
CES5552219082,20238170,Siding contractors,158344
CES5552220082,20238301,Residential building finishing contractors,499427
CES5552229282,31321212,NULL,234640
CES5552230082,31327100,Clay products and refractories,236531
CES5552232082,31331100,Iron and steel mills and ferroalloy production,118224
CES5552300082,31332100,Forging and stamping,1044224
CES5552312082,31332323,Ornamental and architectural metal work,300715
CES5552320082,31332812,NULL,536728
CES5552390082,31333000,Machinery,509013
CES5552392082,31333415,AC,221354
CES5552393082,31333920,Material handling equipment,192094
CES5552400081,31334220,Broadcast and wireless communications equipment,81335
CES5552400082,31334400,Semiconductors and electronic components,2347328
CES5552410082,31334515,Electricity and signal testing instruments,1477799
CES5552411082,31335314,NULL,760905
CES5552412082,31336111,Automobiles,683445
CES5552420082,31336413,Other aircraft parts and equipment,872398
CES5552421082,31337120,Other household and institutional furniture,583035
CES5552429082,31339000,Miscellaneous durable goods manufacturing,289426
CES5552429282,31339990,NULL,156594
CES5553100082,32311400,Fruit and vegetable preserving and specialty,862987
CES5553110082,32311613,NULL,290168
CES5553111082,32311910,Snack food,175663
CES5553112082,32314900,Other textile product mills,81524
CES5553120082,32322100,Pulp,165883
CES5553130082,32323000,Printing and related support activities,406456
CES5553131082,32325100,Basic chemicals,336343
CES5553131182,32325414,NULL,227293
CES5553131282,32326110,Plastics packaging materials,109556
CES5553200082,32329000,NULL,306172
CES5553240082,41423690,NULL,113348
CEU5500000081,41424480,Fruits and vegetables,243686
CEU5500000082,41424500,Farm product raw materials,6467426
CEU5552200082,41424920,Books and periodicals,1767137
CEU5552210082,42441110,New car dealers,1004069
CEU5552211082,42442100,Furniture stores,771223
CEU5552219082,42445110,Supermarkets and other grocery stores,160959
CEU5552220082,42446120,Cosmetic and beauty supply stores,516071
CEU5552229282,42451000,Sporting goods,248400
CEU5552230082,42452111,Department stores,246637
CEU5552232082,42453220,Gift,121140
CEU5552300082,42454113,Mail-order houses,1087325
CEU5552312082,43482000,Rail transportation,309096
CEU5552320082,43484210,Used household and office goods moving,560047
CEU5552390082,43485900,Other ground passenger transportation,526887
CEU5552392082,43488400,Support activities for road transportation,228421
CEU5552393082,43493120,Refrigerated warehousing and storage,198865
CEU5552400081,44221121,Electric bulk power transmission and control,82624
CEU5552400082,44221122,Electric power distribution,2408490
CEU5552410082,50511190,NULL,1509979
CEU5552411082,50515200,Cable and other subscription programming,782455
CEU5552412082,50519190,NULL,692782
CEU5552420082,55522320,Financial transaction processing and clearing,894878
CEU5552421082,55523990,All other financial investment activities,599011
CEU5552429082,55524130,Reinsurance carriers,296613
CEU5552429282,55531100,Lessors of real estate,162870
CEU5553100082,55531312,Nonresidential property managers,865620
CEU5553110082,55532290,NULL,288038
CEU5553111082,60541100,Legal services,175180
CEU5553120082,60541500,Computer systems design and related services,165834
CEU5553130082,60541613,Marketing consulting services,411336
CEU5553131082,60541720,Social science and humanities research,340939
CEU5553131182,60541910,Marketing research and public opinion polling,228519
CEU5553131282,60561100,Office administrative services,112528
CEU5553200082,60561410,Document preparation services,293971
CEU5553240082,60562000,Waste management and remediation services,112000

In [86]:
SELECT TOP 10 series_title FROM LaborStatisticsDB.dbo.series
GROUP BY series_title

series_title
All employees
Women employees
Average weekly hours of all employees
Average hourly earnings of all employees
Production and nonsupervisory employees
Average weekly hours of production and nonsupervisory employees
Average hourly earnings of production and nonsupervisory employees
Average weekly earnings of all employees
Indexes of aggregate weekly hours of all employees
Indexes of aggregate weekly payrolls of all employees

In [87]:
SELECT TOP 10 data_type_text FROM LaborStatisticsDB.dbo.datatype
GROUP BY data_type_text

data_type_text
12-MONTH CONFIDENCE INTERVAL
1-MONTH CONFIDENCE INTERVAL
3-MONTH CONFIDENCE INTERVAL
6-MONTH CONFIDENCE INTERVAL
AGGREGATE WEEKLY HOURS OF ALL EMPLOYEES
AGGREGATE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
AGGREGATE WEEKLY OVERTIME HOURS OF ALL EMPLOYEES
AGGREGATE WEEKLY OVERTIME HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
AGGREGATE WEEKLY PAYROLLS OF ALL EMPLOYEES
AGGREGATE WEEKLY PAYROLLS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Create a Union table comparing average weekly earnings&nbsp; of production and nonsupervisory employees between annual_16 and january_17 using the data type 30.&nbsp; Round to the nearest penny.&nbsp; You should have a column for the average earnings and a column for the year, and the period.</span>

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Summarize Your Results</span>

<span style="font-size:10pt;font-family:Arvo, serif;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">With what you know now about the </span> <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:13.3333px;white-space:pre-wrap;">Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the</span> <span style="color:rgb(102, 102, 102);white-space:pre-wrap;font-family:&quot;Times New Roman&quot;;font-size:13.3333px;">Labor Statistics Database</span><span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:Arvo, serif;font-size:10pt;white-space:pre-wrap;">, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.</span>

1. <span style="background-color:rgb(255, 255, 255);font-size:10pt;white-space:pre-wrap;color:rgb(102, 102, 102);font-family:Arvo, serif;">During which time period did production and nonsupervisory employees fare better?</span>

Double click here to add your answer

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In which industries did production and nonsupervisory employees fare better?</span>

Double click here to add your answer.

3. <span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?</span>

Double click here to add your answer.